@font-face {
    font-family: FZCYJ;
    src: url('../assets/font/FZCYJ.ttf');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v8/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.blank-row {
    padding-top: 60px;
}
.separate-line {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}
